USE [PlanPiso]
GO
/****** Object:  View [dbo].[VINDOCUMENTOS_VIEW]    Script Date: 02/12/2018 18:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VINDOCUMENTOS_VIEW] AS
SELECT idEmpresa, idSucursal, CCP_OBSGEN as VIN, CCP_IDDOCTO 
FROM Documentos 
WHERE	CCP_IDDOCTO LIKE '%-%-%-%-%-%' 
		AND CCP_OBSGEN != '' 
UNION
SELECT idEmpresa, idSucursal, CCP_IDDOCTO as VIN, CCP_IDDOCTO 
FROM Documentos 
WHERE	CCP_IDDOCTO NOT LIKE '%-%-%-%-%-%' 
		AND LEN( CCP_IDDOCTO ) = 17  
UNION
SELECT idEmpresa, idSucursal, SUBSTRING( CCP_IDDOCTO, 1, 17 ) as VIN, CCP_IDDOCTO 
FROM Documentos 
WHERE	CCP_IDDOCTO NOT LIKE '%-%-%-%-%-%' 
		AND LEN( CCP_IDDOCTO ) = 19 
UNION
SELECT idEmpresa, idSucursal, CCP_OBSGEN as VIN, CCP_IDDOCTO 
FROM Documentos 
WHERE	CCP_IDDOCTO NOT LIKE '%-%-%-%-%-%' 
		AND LEN( CCP_IDDOCTO ) < 17 
		AND CCP_OBSGEN != '' 
UNION
SELECT idEmpresa, idSucursal, SUBSTRING( CCP_IDDOCTO, 2, 17 ) as VIN, CCP_IDDOCTO 
FROM Documentos 
WHERE	CCP_IDDOCTO NOT LIKE '%-%-%-%-%-%' 
		AND LEN( CCP_IDDOCTO ) = 18
GO
/****** Object:  View [dbo].[VEHICULODESCRIPCION_VIEW]    Script Date: 02/12/2018 18:31:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VEHICULODESCRIPCION_VIEW] AS
SELECT 
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAAU_Cuautitlan].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 1

UNION

SELECT 
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAAU_Pedregal].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 2

UNION

SELECT 
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAAU_Universidad].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 3

UNION

SELECT 
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAAT_Peugeot].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 4

UNION

SELECT 
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAHondaZaragoza].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 5

UNION

SELECT
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAZM_Zaragoza].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 6

UNION

SELECT
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAZM_Abasto].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 7

UNION

SELECT 
	[idEmpresa],	[idSucursal],	[CCP_IDDOCTO],
	[VEH_NUMSERIE],	[VEH_TIPOAUTO],	[VEH_NOMOTOR],
	[VEH_FECVENTA],	[VEH_ANMODELO],	[VEH_CATALOGO]
FROM VINDOCUMENTOS_VIEW VIS
INNER JOIN [192.168.20.92].[GAZM_FAerea].[dbo].[SER_VEHICULO] VEH ON VIS.VIN = VEH.VEH_NUMSERIE COLLATE Modern_Spanish_CI_AS
WHERE idSucursal = 8
GO
